@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-login {
        @apply rounded-full w-full p-1 px-3 bg-gray-800 text-white border border-gray-700 focus:outline-none focus:border-purple-900;
    }
}

* {
    font-family: "Dongle", sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #11131F;
}

.dongle-regular-title {
    font-size: 50px;
}

.avatar-image {
    border-radius: 50%;
}

.gradiant-bg {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#multiple-selects input[type="checkbox"] {
    display: none;
}

#multiple-selects span {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    width: 160px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
}

#multiple-selects input[type="checkbox"]:checked+span {
    background-color: #B54548;
    border-color: #B54548;
    color: white;
}