@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-login {
        @apply rounded-full w-full p-1 px-3 bg-gray-800 text-white border border-gray-700 focus:outline-none focus:border-purple-900;
    }
}

* {
    font-family: "Dongle", sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #11131F;
}

.dongle-regular-title {
    font-size: 50px;
}
